<!-- ======================================================================= -->
<!-- Clinics tab -->
<!-- ======================================================================= -->

<div class="container">
    <div class="row my-2">
        <div class="col-lg-12 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#clinic-info" data-toggle="tab" class="nav-link active">Clinic</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#clinic-new" data-toggle="tab" class="nav-link">Add New</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <!-- Clinic Info -->
                <div class="tab-pane active" id="clinic-info">
                    <div class="tab-header">
                      <h5>Clinic Info</h5>
                    </div>
                    <%= render "clinics/list_clinics" %>
                </div>

                <!-- Add New Clinic Tab -->
                <div class="tab-pane" id="clinic-new">
                    <div class="tab-header">
                    <h5>Add New Clinic</h5>
                    </div>
                    <%= render "clinics/new_form" %>
                </div>

            </div>
        </div>
    </div>
</div>
