<!-- ======================================================================= -->
<!-- Clinic's Index Partial(Patient's) -->
<!-- ======================================================================= -->

<%= form_tag(search_doctor_clinics_path(1), method: 'get', remote: true, class: 'div-wrapper') do |f| %>
  <%= label_tag :name, "Search Clinics : " %><br>
  <%= text_field_tag :name, params[:name], placeholder: "Search Clinics" %>
  <button type="submit" class="btn btn-light">Search Clinics</button>
<% end %>

<section class="album py-15 bg-light div-wrapper">
  <p><h1 class="tab-header">Choose Your Clinic</h1></p>
  <hr>
  <div class="container">
    <div class="row" id="clinic-search">

      <%= render  "clinics/search" %>

    </div> <!-- /row -->
  </div> <!-- /container -->
</section> <!-- /album -->