<!-- ======================================================================= -->
<!-- Prescription's Index Partial -->
<!-- ======================================================================= -->


    <div class="container div-wrapper">
        <p><h1 class="tab-header">Prescriptions</h1></p>

    <div class="row my-2">
        <div class="col-lg-12 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#current-drug" data-toggle="tab" class="nav-link active tab-pending" >Current</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#all-drug" data-toggle="tab" class="nav-link tab-confirm">All</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <!-- Current -->
                <div class="tab-pane active tab-pending" id="current-drug">
                    <div class="tab-header">
                      <h5>Your Current Prescriptions</h5>
                    </div>
                    <%= render "prescriptions/current" %>
                </div>

                <!-- All -->
                <div class="tab-pane tab-confirm" id="all-drug">
                    <div class="tab-header">
                        <h5>Current & Past Prescriptions</h5>
                    </div>
                    <%= render "prescriptions/all" %>
                </div>


            </div>
        </div>
>>>>>>> master
    </div>
</div>
    






