<!-- ======================================================================= -->
<!-- Prescription's Index Partial -->
<!-- ======================================================================= -->

<div class="div-wrapper container">

<h1>Your Medical Journey here!!</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="prescriptions-tab" data-toggle="tab" href="#prescriptions" role="tab" aria-controls="prescriptions" aria-selected="true">Main</a>
    </li>
    <%# <li class="nav-item">
        <a class="nav-link" id="new-prescription-tab" data-toggle="tab" href="#new-prescription" role="tab" aria-controls="new-prescription" aria-selected="false">New</a>
    </li> %>
</ul>

<div class="tab-content" id="myTabContent">
    <!-- main -->
    <div class="tab-pane fade show active" id="prescriptions" role="tabpanel" aria-labelledby="prescriptions-tab">
        <%= render  "prescriptions/main" %>
    </div>
    
    <!-- New -->
    <%# <div class="tab-pane fade" id="new-prescription" role="tabpanel" aria-labelledby="new-prescription-tab">
        <%= render  "prescriptions/new" %>
    <%# </div> %>

</div>
</div>




