<div id="sign-up-wrapper">
  <!-- Patient -->
  <div id="patient-sign-up">
    <%= render "/patients/form" %>
  </div>
  <!-- Doctor -->
  <div id="doctor-sign-up">
    <%= render "/doctors/form" %>    
  </div>
</div>