<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

    <%= render partial: '/users/form' %>

    <div class="other-links">
      <span><%= t(".sign_in_desc") %></span>
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
</div>
