<!-- ======================================================================= -->
<!-- Patient's Show Partial -->
<!-- ======================================================================= -->

<h1>Your Medical Journey here!!</h1>
<p><%#= link_to 'Create new medical record or encounter', new_record_path %></p>
<p><%#= link_to 'Back to Patient DashBoard', patient_path(current_user.id) %></p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="records-tab" data-toggle="tab" href="#records" role="tab" aria-controls="records" aria-selected="true">Records</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="new-record-tab" data-toggle="tab" href="#new-record" role="tab" aria-controls="new-record" aria-selected="false">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="edit-record-tab" data-toggle="tab" href="#edit-record" role="tab" aria-controls="edit-record" aria-selected="false">Edit</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <!-- Records -->
    <div class="tab-pane fade show active" id="records" role="tabpanel" aria-labelledby="records-tab">
        <section class="timeline">
            <div class="container">
                <div class="timeline-item">
                    <div class="timeline-img"></div>

                    <div class="timeline-content js--fadeInLeft">
                        <h2>Title</h2>
                        <div class="date">1 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
                            atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias,
                            ullam.</p>
                        <a class="bnt-more" href="javascript:void(0)">More</a>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">25 MAY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
                            atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias,
                            ullam.</p>
                        <a class="bnt-more" href="javascript:void(0)">More</a>
                    </div>

                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content js--fadeInLeft">
                        <div class="date">3 JUN 2016</div>
                        <h2>Quote</h2>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit
                            totam quasi inventore!</blockquote>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content js--fadeInRight">
                        <h2>Title</h2>
                        <div class="date">22 JUN 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
                            atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias,
                            ullam.</p>
                        <a class="bnt-more" href="javascript:void(0)">More</a>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">10 JULY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
                            atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias,
                            ullam.</p>
                        <a class="bnt-more" href="javascript:void(0)">More</a>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">30 JULY 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
                            atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias,
                            ullam.</p>
                        <a class="bnt-more" href="javascript:void(0)">More</a>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content js--fadeInLeft">
                        <div class="date">5 AUG 2016</div>
                        <h2>Quote</h2>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit
                            totam quasi inventore!</blockquote>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <h2>Card Title</h2>
                        </div>
                        <div class="date">19 AUG 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
                            atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias,
                            ullam.</p>
                        <a class="bnt-more" href="javascript:void(0)">More</a>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content js--fadeInLeft">
                        <div class="date">1 SEP 2016</div>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
                            atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias,
                            ullam.</p>
                        <a class="bnt-more" href="javascript:void(0)">More</a>
                    </div>
                </div>



            </div>
        </section>
    </div>
    
    <!-- New -->
    <div class="tab-pane fade" id="new-record" role="tabpanel" aria-labelledby="new-record-tab">
        <%= render  "records/new" %>
    </div>
    <!-- Edit -->
    <div class="tab-pane fade" id="edit-record" role="tabpanel" aria-labelledby="edit-record-tab">
        <%= render  "records/edit" %>
    </div>
</div>




