<% content_for :head do %>
  <%= stylesheet_link_tag "page_index", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :header do %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a8623f526569e949b73c4c7360d4532&auto=format&fit=crop&w=1350&q=80')">
        <div class="carousel-caption d-none d-md-block caption1">
          <h3>Make an Appointment With Doctor!</h3>
          <p>Sign Up Now!</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1520931737576-7d1628862026?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70bc554b8577cfbb44340c5a50add0f6&auto=format&fit=crop&w=1997&q=80')">
        <div class="carousel-caption d-none d-md-block caption2">
          <h3>Check Your Schedule!</h3>
          <p>Arrange Your Schedule now! </p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37c91c8e3f63462e0739c676dfe8fee8&auto=format&fit=crop&w=1950&q=80')">
        <div class="carousel-caption d-none d-md-block caption3">
          <h3>Medical Record</h3>
          <p>You can check your Medical Record via Our Website!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

<div class="container marketing" style="margin-top: 20vh;">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="https://images.unsplash.com/photo-1502404679462-d669245fc482?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3ef5d7093916f0ff49461a52fe234703&auto=format&fit=crop&w=1350&q=80" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Book Appoinments</h2>
      <p>Make you payments, check doctor's availability.</p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="https://images.unsplash.com/photo-1512615199361-5c7a110a8d11?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=683c7f439369df3c20574587133f7821&auto=format&fit=crop&w=1350&q=80" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Own A Medical Diary</h2>
      <p>A dashboard for you. Track your health records.</p>
      <p>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="https://images.unsplash.com/photo-1512238972088-8acb84db0771?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=727880ca94d83b3dd33fcd308dc0092a&auto=format&fit=crop&w=1350&q=80" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Track Medicine</h2>
      <p>Don't miss out on your medications. Upcoming features include alert and notification system.</p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette" style="margin-top: 20vh;">
    <div class="col-md-7">
      <h2 class="featurette-heading">Check Out and 
        <span class="text-muted">LIKE</span>
        Your Doctors.
      </h2>
      <p class="lead">Know your doctors around your area. Support your community and build personal and continuous relationships. Happy doctor, healthy you!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" style="width: 30vh; height: 30vh; border-radius: 50%;" src="https://images.unsplash.com/photo-1518687387616-1607671915c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=533375c7412c33546e2bce0bc34d08e6&auto=format&fit=crop&w=634&q=80" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Stay Connected With Your Patients
        <span class="text-muted">They Need You.</span> And Love You.
      </h2>
      <p class="lead">If contacting out to your patients and knowing their progress and wellbeing have been inconvenient for you, now it is time to reach out.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" style="width: 30vh; height: 30vh; border-radius: 50%;" src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fa93892d12c393242d90ae805e810255&auto=format&fit=crop&w=1350&q=80" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly,
        <span class="text-muted">Know And Own Your Health.</span>
      </h2>
      <p class="lead">Take charge of your own health. It is time where reading your health reports are made easier.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" style="width: 30vh; height: 30vh; border-radius: 50%;" src="https://images.unsplash.com/photo-1473186505569-9c61870c11f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a3b880a9110916335b943d74e277bb36&auto=format&fit=crop&w=1350&q=80" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->

<%= render 'footer' %>

