<h1>Patient DashBoard Here! </h1>
<p><%= link_to 'View Your Medical Records', record_path(@user.id) %></p>
<br>


<p>Appointments Confirmed</p>
<p>1. Appointments Confirmed 1</p>
<p>2. Appointments Confirmed 2</p>
<br>
<p>Appointments Pending</p>
<p>1. Appointments Pending 1 </p>
<p>2. Appointments Pending 2 </p>
<p>3. Appointments Pending 3 </p>
<br>
<p>Pick Your Doctor</p>
<br>
<p><%= link_to 'Booking Request', new_pending_booking_path %></p>
<br>
<p>Payments(Use Braintree Gem)</p>

<%= link_to t("Back to Home Page"), root_path %>


