
<div class="profile-placard">
  <div class="profile-social">
    <div class="image">
    </div>
    <div class="likes">
    </div>
  </div>

  <div class="profile-highlights">
    <div class="profile-contact">
    </div>
    <div class="profile-actionable">
      <div class="book">
      </div>
      <div class="like">
      </div>
    </div>

  </div>

</div>

<div class="profile-overview">
  <div class="profile-detail">
    <div class="profile-professional">
    </div>
    <div class="profile-clinic">
    </div>
  </div>

  <div class="booking">
  </div>

</div>