<h1>Doctor DashBoard Here! =D</h1>
<p>Profile(doctor info)</p>
<p>(Doctor's info show over this page)</p>
<br>
<p><%= link_to t("Edit Doctor Profile"), edit_doctor_path(current_user.id) %></p>
<br>
<p>Booking(aleady confirm)</p>
<p>The logic behind should be if booking.status == true and booking.doctor_id == current_user.id, show the particular
 booking here, design as a sidebar</p>
<br>
<p>Patient Pending( already book but havent consent by doctor yet)</p>
<p>The logic behind should be if booking.status == false and booking.doctor_id == current_user.id, show the particular
 booking here, then if u click the link, it will render a new
page that will show patient's info base on patient_id</p>
<br>
<p>Available Time Slot</p>
<br>
<p><%= link_to t("Upload Patient Medical Record"), new_record_path %></p>



