<h1>Doctor DashBoard Here! =D</h1>
<p>Profile(doctor info)</p>

<p>Edit Doctor Profile</p>
<p>Booking(aleady confirm)</p>

<p>Patient Pending( already book but havent consent by doctor yet)</p>

<p>Available Time Slot</p>
