<div class="row">
<div class="col"></div>
<div class="col-md-10">

<h1> List of all Subscribers </h1>
<table class="table table-hover table-striped table-responsive-xs">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @subscribers.each do |subscriber| %> 
    <tr>
      <td>
        <%= subscriber.name %> 
      </td>
      <td>
        <%= subscriber.email %> 
      </td>
      <td> 
        <%= link_to 'Delete', subscriber_path(subscriber), 
          class: 'btn btn-sm btn-danger',
          method: :Delete, 
          data: {confirm: 'Are you sure?'}  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to 'Home', root_path, class: 'btn btn-md btn-primary' %></p>

</div> <!-- .col-md-10 -->
<div class="col"></div>
</div> <!-- .row -->