/*
 *= require bootstrap-tagsinput
 */

@import "bootstrap";
@import 'variables';
@import 'reset';
@import 'doctors';
@import 'pages';
@import 'clinics';

@import 'bootstrap-sprockets';
@import 'bootstrap-datetimepicker';

@import 'bootstrap-timepicker';
@import 'bootstrap-tagsinput.scss';

body{
  background-color: white;
}

.profile_picture {
  height: 12vw;
  width: 12vw;
  object-fit: fill;
}