/*
 *= require bootstrap-tagsinput
 */

@import "bootstrap";
@import 'variables';
@import 'reset';
@import 'doctors';
@import 'pages';
@import 'clinics';

@import 'bootstrap-sprockets';
@import 'bootstrap-datetimepicker';

@import 'bootstrap-timepicker';
@import 'bootstrap-tagsinput.scss';


body{
  background-color: white;
}

.profile_picture {
  height: 12vw;
  width: 12vw;
  object-fit: fill;
}


.caption1{
  color: #fafaed !important;
  text-shadow: 2px 2px 4px #000000;
}

.caption2{
  color: #1a2d46 !important;
  text-shadow: 2px 2px 4px #000000;
  margin-right: 70px;
}

.caption3{
  color: #36feff !important;
  text-shadow: 2px 2px 4px #000000;
}

.alert{
  z-index: 1
}



