/*
 * Sidebar
 */

body {
    // font-size: .9em;
}

#dashboard-content {
    margin-top: 3.5em;
}

.nav {
    padding-top: 3em;
}



.nav-link {
    color: grey;
}

#mySidebar {
    width: 200px;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, .9);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, .9);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, .9);

    .nav-item {
        padding: 1em 0;
    }
}