/* ========================================================================== */
/* Dashboard SCSS */
/* ========================================================================== */

body {
    // font-size: .9em;
}

#dashboard-content {
    margin-top: 8em;
    padding: 0 3em;
}

.nav {
    padding-top: 3em;
}


#mySidebar {
    font-size: .8em;
    padding-top: 4em;
    max-width: 200px;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, .9);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, .9);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, .9);

    .nav-item {
        padding: .5em 0;
        // background: blue;
    }
    .nav-link {
        color: white;
    }

    .nav>li>a:link,
    .nav>li>a:visited {
        background: none;
        color: white;
    }

    .nav-link.active {
        color: teal !important;
    }

    .nav>li a:hover {
        background: none;
        color: teal;
    }
}

#main {
    width: 100vw;
}

.profile-edit {
    overflow-y: auto;
    height: 70vh;
}