// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display:none;
}

//Doctors Card Area//

.card-area {                    /*contains entire card area*/
  margin-top: 100px;
  width: 100%;
}

.div-namecard{
  background: #fff;
  border-radius: 4px;
    -webkit-box-shadow: 10px 10px 25px -2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 10px 10px 25px -2px rgba(0, 0, 0, .5);
    box-shadow: 10px 10px 25px -2px rgba(0, 0, 0, .5);
}
.card-placard{                  /*doctor placard at top*/
  border:1px solid light-gray;
  width: 100%;
  display: inline-flex;
}

.card-social{                   /*image and like area*/
  border: none;
  width: 30%;
  height: 100%;
}
  
.card-highlights{               /*other information area*/
  width:70%;
}

.card-image{                    /*image*/
  width: 200px;
  height: 200px;
  margin-top: 5%;
  margin-left:auto;
  margin-right:auto;
}

.card-likes{                    /*likes*/
  height:20%;
  font: green;
  text-align: center;
  background-color: #1aa7b1;
}

.card-contact{                  /*name, specialisation and email*/
  border: none;
  width: 100%;
  height: 80%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:2%
}

.card-actionable{               /*like & unlike area */
  padding-top: -2%;
  width: 100%;
  height: 20%;
  display: inline-flex;
}

.like, .unlike{                 /*like & unlike button*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-selector{                 /*selection bar for info and clinic*/
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  width: 20%;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
}

.card-general, .card-clinic{    /*selection panels*/
  border: 2px solid red;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-overview{               /*detail and booking area*/
  border: 2px solid blue;
  width: 100%;
  display: inline-flex;
}

.card-detail{                 /*information area for toggling of info and clinic*/
  width: 50%;
  height: 100px;              /*placeholder. to remove once content is placed*/
  border: 2px solid red;
}

.card-general-info, .card-clinic-info{      /*One or other to be hidden based on toggle click*/
  border:2px solid green;
  width: 100%;
}
  
.card-booking{                /*booking area*/
  border: 2px solid red;
  width: 50%;
  height: 100px;              /*placeholder. to remove once content is placed*/                 
}

//Dashboard -- Profile//
.tab-header{
  color: #1aa7b1;
  font-weight: bold;
}

.doctor-submit{
  color: white;
  font-weight: bold;
  background-color: #1aa7b1! important;
  padding: 1%
}

//Dashboard -- Patient List //
.patient-list-break{
  width: 5%
}
