/* ========================================================================== */
/* Sign Up Page */
/* ========================================================================== */

@import 'variables';

#clearance {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.tab-btn,
a:link {
  text-decoration: none;
  color: $white;
  transition: .5s ease;

  &:hover {
    color: $main-dark;
  }
}

.entry-form {
  margin: auto;
  background: rgba($form-bg, .9);
  padding: 40px;
  min-width: 480px;
  border-radius: $br;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.65);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;

  li {
    width: 100%;
    display: flex;
  }
  
  li a {
    width: 100%;
    margin: auto;
    border-radius: $br;
    display: block;
    text-decoration: none;
    padding: .5em 1.5em;
    background: rgba($gray-light, .25);
    color: $gray-light;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
      background: $main-dark;
      color: $white;
    }
  }

  .active a {
    background: $main;
    color: $white;
  }
}

.tab-content > div:last-child {
  display: none;
}

.form-heading {
  text-align: center;
  color: $white;
  font-weight: $thin;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(.5em);
  left: 1em;
  color: rgba($white, .5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 1em;

  .req {
    margin: 2px;
    color: $main;
  }
}

label.active {
  transform: translateY(2.5em);
  left: 2px;
  font-size: 1em;

  .req {
    opacity: 0;
  }
}

label.highlight {
  color: $white;
}

input,
textarea {
  font-size: 1em;
  width: 100%;
  display: block;
  padding: 5px 1em;
  background-color: none;
  border: 1px solid $gray-light;
  border-radius: $br;
  color: $white;
  transition: border-color .25s ease, box-shadow .25s ease;

  &:focus {
    outline: 0;
    border-color: $main;
  }
}

textarea {
  border: 2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;

  // override bourbon default values
  input {
    background: none;
  }
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float: left;
    width: 48%;
    margin-right: 4%;

    &:last-child {
      margin: 0;
    }
  }
}

.button,
.facebook-sign-in {
  margin: auto;
  border: 0;
  outline: none;
  border-radius: $br;
  padding: 1em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: $main;
  color: $white;
  transition: all.5s ease;
  -webkit-appearance: none;
  width: auto;
  text-align: center;
  cursor: pointer;
  
  &:hover,
  &:focus {
    background: $main-dark;
  }
}

.facebook-sign-in {
  background: $fb-color;
  color: $white;
  // font-size: 1em;

  &:hover,
  a:link,
  a:visited {
    background: $fb-color;
    color: $white;
  }
}

.btn-wrap {
  display: flex;
  width: 100%;
}

.other-links {
  margin: auto;

  a:link,
  a:visited {
    color: $main;
  }
}
